@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Brand */
  --color-primary: #39061f;
  --color-secondary: #9f1239;
  --color-tertiary: #fda4af;

  /* Backgrounds */
  --bg-page: #ffffff;
  --bg-card: #ece4e4;

  /* Text */
  --text-primary: #111827;
  --text-secondary: #6b7280;

  /* Borders */
  --border-color: #e5e7eb;

  /* Status */
  --success: #0c4722;
  --warning: #f59e0b;
  --danger: #ef4444;
}

.dark {
  /* Brand */
  --color-primary: #c4005f;
  --color-secondary: #fb7185;
  --color-tertiary: #fecdd3;

  /* Backgrounds */
  --bg-page: #050c28e8;
  --bg-card: rgba(255, 255, 255, 0.08);

  /* Text */
  --text-primary: #f9fafb;
  --text-secondary: #9ca3af;

  /* Borders */
  --border-color: rgba(255, 255, 255, 0.12);

  /* Status */
  --success: #4ade80;
  --warning: #facc15;
  --danger: #f87171;
}

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }

  body {
    @apply antialiased overflow-x-hidden;
  }

  h1 {
    @apply text-3xl font-bold ;
  }

  h2 {
    @apply text-2xl font-bold text-[var(--color-primary)];
  }
}

@layer components {
  .btn-auth {
    @apply w-full rounded-lg 
    bg-[var(--color-primary)]
    py-3 
    font-semibold 
    text-black
    transition
    hover:opacity-60
    hover:cursor-pointer
    focus:outline-none
    focus:ring-2
    focus:ring-[var(--color-primary)]
    focus:ring-offset-2
    focus:ring-offset-transparent;
  }

  .dark .btn-auth {
    @apply text-black;
  }

  .input-auth {
    @apply bg-[var(--border-color)]/50 border-[var(--border-color)] rounded p-2 focus:border-[var(--border-color)] focus:outline-2 focus:outline-offset-2 focus:outline-[var(--color-primary)];
  }
}

@media print {
  body {
    background: #2f3c5a !important; /* fundo da dashboard */
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  /* Remove tudo que não deve ir pro PDF */
  button,
  nav,
  aside {
    display: none !important;
  }

  /* Mantém layout fixo */
  #dashboard-pdf {
    width: 100%;
    padding: 24px;
  }

  /* Evita quebra feia de cards */
  .glass-card,
  .dashboard-card {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  /* Força cores do Tailwind */
  * {
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
  }
}
